---
import Layout from "../layouts/Layout.astro";
import { getAboutInfo } from "../utils/getStrapiInfo"
const dataAbout = await getAboutInfo()
---
<Layout >
  <main >
    <div class=" backdrop-blur-sm ">
      <div class="max-w-6xl mx-auto bg-extra/70 my-20 p-2">
        <h1 class=" text-3xl md:text-6xl mt-14 font-bold text-white text-center pb-2 border-b border-white">Sobre Nuestra Empresa</h1>

        <div class="grid grid-cols-1 lg:grid-cols-6 mt-10 ">

          <div class="lg:col-span-4 lg:col-start-2 border-b border-white p-6 mb-10">
            <h3 class="text-primary brightness-150 font-semibold text-5xl">Mision:</h3>
            <p class="text-white text-2xl mt-4">{dataAbout.data.Mision}</p>
          </div>

          <div class="lg:col-start-1 lg:col-end-4 p-6">
            <h3 class="text-primary brightness-150  font-semibold text-5xl border-b pb-2">Servicios:</h3>
            <ul class="text-white text-xl mt-4 list-disc list-inside">
              { dataAbout.data.Servicios.map((dato : {DescripcionServicio: String}) => <li>{dato.DescripcionServicio}</li>)}
            </ul>
          </div>

          <div class="lg:col-span-3 lg:col-end-7 p-6">
            <h3 class="text-primary brightness-150  font-semibold text-5xl border-b pb-2">Valores:</h3>
            <ul class="text-white text-xl mt-4 list-disc list-inside">
              { dataAbout.data.ValoresEmpresa.map((dato : {TituloValor: String, DescripcionValor: String}) => <li><strong class="">{dato.TituloValor}:</strong> {dato.DescripcionValor}</li>)}
            </ul>
          </div>

          <div class="lg:col-span-4 lg:col-start-2 p-6">
            <h3 class="text-primary brightness-150 text-center  font-semibold text-5xl">¿Por qué elegir FProperties?</h3>
            <ul class="text-white text-xl mt-4 list-disc list-inside">
              { dataAbout.data.ValoresEmpresa.map((dato : {TituloValor: String, DescripcionValor: String},index : Number) => <li>Motivo {index}</li>)}
            </ul>
          </div> 

        <div/>

      </div>
    </div>
  </main>
</Layout>

<style>
  body{
    background-image: url("/entrega.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
</style>