---
import {getNotices} from '../utils/getStrapiInfo'
import Layout from '../layouts/Layout.astro';
import { richTextToHtml } from '../utils/richTextToHtml.ts'

const noticeData = await getNotices()

const formatDate = (isoString: Date) => {
  const date = new Date(isoString);
  return date.toLocaleDateString('es-ES', { day: 'numeric', month: 'long', year: 'numeric' });
};

const descripNotice = richTextToHtml( noticeData[0].DescripcionNoticia)
const realDate = formatDate(noticeData[0].createdAt)
---  

<Layout>
  <main class="md:-mt-14">
    <section class="grid grid-cols-1 lg:grid-cols-2 gap-4 p-6 md:p-24">
      <article class="bg-white shadow-md p-8 rounded-md">
        <span class="text-sm text-secondary">{realDate}</span>
        <h2 class="font-bold my-2">{noticeData[0].TituloNoticia}</h2>
        <p class="text-secondary/90 italic">por Equipo de Desarrollo</p>
        <img src={noticeData[0].FotoNoticia.url} class="object-cover my-4 h-72 w-full" alt="">
        <div class="text-pretty mt-3 leading-6 tracking-wide " set:html={descripNotice}></div>
      </article>

  </main>
</Layout>