---
import BuildIcon from "../assets/icons/buildIcon.astro" 
import CamaIcon from "../assets/icons/cama.astro";
import Mt2Icon from "../assets/icons/mt2.astro";
import TinaIcon from "../assets/icons/tina.astro";
import PlantasIcon from "../assets/icons/plantas.astro";
const { dataPropiedad } = Astro.props

const fechaconstruccion = new Date(dataPropiedad.FechaConstruccion).getFullYear()
---
<section class="border-t border-primary/50 pt-2"> <!-- Detalles -->
  <div class="flex flex-col md:flex-row space-y-6 gap-6">
    <div class="md:max-w-md md:border-r md:border-primary"><!-- Descripcion -->
      <span class="text-secondary font-semibold text-2xl"> Descripcion de la Propiedad:</span>
      <p class="mt-2 p-1 text-pretty text-secondary/90">{dataPropiedad.Descripcion}</p>
    </div>

    <div><!-- Detalles -->
      <span class="text-secondary font-semibold text-2xl"> Detalles de la Propiedad:</span>
      <div class="w-full mt-3 grid grid-cols-1 lg:grid-cols-3 gap-4">

          
        <div class="flex items-center justify-center p-2 border border-primary/50 rounded-lg"> 
          <CamaIcon class="size-18 fill-primary"/>
          <div class="flex flex-col items-center ml-4">
            <p class=" text-secondary/90 text-md">Habitaciones</p>
            <p class="font-bold text-5xl text-primary mt-1">{dataPropiedad.Habitaciones}</p>
          </div>
        </div>

        <div class="flex items-center justify-center p-2 border border-primary/50 rounded-lg"> 
          <TinaIcon class="size-18 fill-primary"/>
          <div class="flex flex-col items-center ml-4">
            <p class=" text-secondary/90 text-md">Baños</p>
            <p class="font-bold text-5xl text-primary mt-1">{dataPropiedad.Habitaciones}</p>
          </div>
        </div>

        <div class="flex items-center justify-center p-2 border border-primary/50 rounded-lg"> 
          <PlantasIcon class="size-18 text-primary"/>
          <div class="flex flex-col items-center ml-4">
            <p class=" text-secondary/90 text-md">Niveles</p>
            <p class="font-bold text-5xl text-primary mt-1">{dataPropiedad.Niveles}</p>
          </div>
        </div>

        <div class="flex items-center justify-center p-2 border border-primary/50 rounded-lg"> 
          <Mt2Icon class="size-18 fill-primary"/>
          <div class="flex flex-col items-center ml-4">
            <p class=" text-secondary/90 text-md">Metros</p>
            <p class="font-bold text-5xl text-primary mt-1">{dataPropiedad.Metraje}</p>
          </div>
        </div>

        <div class="flex items-center justify-center p-2 border border-primary/50 rounded-lg"> 
          <BuildIcon class="size-18 text-primary"/>
          <div class="flex flex-col items-center ml-4">
            <p class=" text-secondary/90 text-md">Construida en</p>
            <p class="font-bold text-5xl text-primary mt-1">{fechaconstruccion}</p>
          </div>
        </div>

      </div>
    </div>
  </div>


</section>