---
import { Image } from "astro:assets"
const { Precio , Titulo, Habitaciones, Metraje, Servicios, Imagenes} = Astro.props.data
/*console.log(Imagenes[0].formats.thumbnail.url);*/
---
  <!-- Imagen grande (ocupa dos filas en la izquierda) -->
  <div class="relative col-span-1 max-h-[200px] lg:max-h-[520px] row-span-1 lg:row-span-2 rounded-xl overflow-hidden group-hover:brightness-50 duration-100 transition-all">
    <Image width={256} height={256}  src={Imagenes[2].url}  alt="Casa moderna" class="w-full h-full object-cover" />
    <div class="absolute bottom-4 left-4 bg-white bg-opacity-80 p-4 rounded-xl shadow">
      <h2 class="text-2xl font-bold text-secondary">$ {Precio.toLocaleString("en-Us")}</h2>
      <p class="text-secondary font-bold text-lg">{Titulo}</p>
      <div class="flex text-gray-600 text-sm mt-2">
        <span class="mr-4"><strong>{Metraje}</strong> Mts</span>
        <span class="mr-4"><strong>{Habitaciones}</strong> Habitaciones</span>
        <span><strong>{Servicios}</strong> Ba침os</span>
      </div>
    </div>
  </div>

  <!-- Im치genes peque침as a la derecha -->
  <div class="grid grid-cols-2 gap-2 md:max-h-[250px] group-hover:brightness-50 duration-100"> 
    <div class="relative rounded-xl overflow-hidden">
      <Image width={100} height={100} src={Imagenes[0].url} decoding="async" loading="lazy" alt="Fachada moderna" class="w-full h-full object-cover" />
    </div>
    <div class="relative rounded-xl overflow-hidden">
      <Image width={100} height={100} src={Imagenes[1].url} loading="lazy" alt="Comedor moderno" class="w-full h-full object-cover" />
    </div>
  </div>

  <div class="hidden lg:grid grid-cols-1 md:max-h-[250px] gap-4 group-hover:brightness-50 duration-100">
    <div class="relative  rounded-xl overflow-hidden">
      <Image width={100} height={100} src={Imagenes[2].url} alt="Interior moderno" class="w-full h-full object-cover" />
    </div>
  </div>

  <div class="invisible group-hover:visible backdrop-blur-lg  absolute rounded-lg bg-white brightness- p-2 right-1/2 translate-x-1/2 -translate-y-1/2 top-1/2 transition-all duration-75">
    <p class="text-primary font-bold text-4xl p-10 lg:text-6xl text-center">Descubre M치s</p>
  </div>  