---
import CamaIcon from "../assets/icons/cama.astro";
import Mt2Icon from "../assets/icons/mt2.astro";
import TinaIcon from "../assets/icons/tina.astro";
import PlantasIcon from "../assets/icons/plantas.astro";
const  STRAPI_URL = import.meta.env.PUBLIC_STRAPI_URL;
const {Titulo,Precio,Habitaciones,Direccion,Servicios,Metraje,Niveles,Imagenes} = Astro.props.house;
//const titulolink = Titulo.replace(/\s+/g, '')
const imagen = STRAPI_URL+Imagenes[2].url;
---
<a href=`/propiedades/${Titulo}` class="hover:scale-105 transition-transform duration-300 p-4">
  <div class=" bg-white  rounded-2xl overflow-hidden space-y-2">
    <img class="w-full h-48 object-cover " src={imagen} alt="">
    <div class="p-2">
      <p class="font-bold text-xl text-secondary text-justify">{Titulo}</p>
      <div class="flex justify-between items-center">
        <p class="font-bold text-secondary/80 text-lg">$ {Precio}</p>
        <p class="font-semibold text-secondary/70 text-sm"> {Direccion}</p>
      </div>
      <div class="flex gap-2 border-t-2 border-primary mt-2">
        <!-- flex de iconos -->
        <div class="flex gap-2 items-center p-4 justify-between w-full">

          <div class="flex flex-col  items-center"> 
            <CamaIcon class="w-6 h-6 fill-primary"/>
            <p class=" text-secondary/80 text-sm">Habs.</p>
            <p class="font-bold text-lg text-primary mt-1">{Habitaciones}</p>
          </div>

          <div class="flex flex-col items-center"> 
            <TinaIcon class="w-6 h-6 fill-primary"/>
            <p class=" text-secondary/80 text-sm">Baños</p>
            <p class="font-bold text-lg text-primary mt-1">{Servicios}</p>
          </div>

          <div class="flex flex-col items-center"> 
            <PlantasIcon class="size-6 text-primary"/>
            <p class=" text-secondary/80 text-sm">Niveles</p>
            <p class="font-bold text-lg text-primary mt-1">{Niveles}</p>
          </div>

          <div class="flex flex-col  items-center"> 
            <Mt2Icon class="w-6 h-6 fill-primary"/>
            <p class=" text-secondary/80 text-sm">Mt2</p>
            <p class="font-bold text-lg text-primary mt-1">{Metraje}</p>
          </div>

        </div>     

      </div>
    </div>
  </div>
</a>
